@{
    ViewData["Title"] = "Privacy Policy";    
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>@ViewData["email"] </p>
<p>@ViewData["Professor"]</p>

<address>
    <strong>More Information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>